
* {
    box-sizing: border-box;
  }
  

/* for mobile phones. */

@media (max-width: 600px){
    body {
        background-color: lightblue;
      }
      /* following is all classes that start with col- */
      [class*="col-"] {
        width: 100%;
      }
}


/* for desktop */

